
 <footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-5 border-e-dashed">
              <a href="layout-one-1.html">
                  <img src="../../assets/images/logo-sm.png" alt="" height="18" />
                  <img src="../../assets/images/logo-light.png" alt="" height="16" />
              </a>
              <p class="my-4">In an ideal world this text wouldn’t exist, 
                  a client would acknowledge the importance of having web 
                  copy before the design starts.
              </p>
              <ul class="list-unstyled footer-social mb-0 mt-sm-0 mt-3">
                  <li class="list-inline-item">
                      <a href="#"> <i class="icon-xs" data-feather="facebook"></i> </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="#"> <i class="icon-xs" data-feather="twitter"></i> </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="#"> <i class="icon-xs" data-feather="github"></i> </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="#"> <i class="icon-xs" data-feather="instagram"></i> </a>
                  </li>
              </ul>
          </div>
          <div class="col-lg-6 offset-lg-1">
              <div class="row">
                  <div class="col-md-4">
                      <h6 class="text-footer mb-4 mt-sm-0 mt-5">Company</h6>
                      <ul class="list-unstyled footer-list">
                          <li><a (click)="goToUrl('home')">Home</a></li>
                          <li><a (click)="goToUrl('about')">About</a></li>
                          <li><a (click)="goToUrl('services')">services</a></li>
                          
                      </ul>
                  </div>
                  <div class="col-md-4">
                      <h6 class="text-footer mb-4 mt-sm-0 mt-4">Information</h6>
                      <ul class="list-unstyled footer-list">
                          <li><a (click)="goToUrl('resume')">Resume</a></li>
                          <li><a href="#review">Client Say</a></li>
                          <li><a (click)="goToUrl('projects')">Projects</a></li>                                    
                          
                      </ul>
                  </div>
                  <div class="col-md-4">
                      <h6 class="text-footer mb-4 mt-sm-0 mt-4">More info</h6>
                      <ul class="list-unstyled footer-list">
                          <li><a (click)="goToUrl('blog-list')">Blogs</a></li>
                          <li><a (click)="goToUrl('contact')">Contact</a></li>
                          <li><a href="#">Terms & condition</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
 
</footer>


<div class="footer-alt">
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
              <p> &copy; <script>
                  document.write(new Date().getFullYear())
              </script> DevCode. Created with <i class="las la-heart text-danger"></i> by Goutam</p>
          </div>
          <div class="col-sm-6 text-sm-end">
              <ul class="list-inline mb-0">
                  <li class="list-inline-item"><a href="#">- Terms & condition<sup class="text-danger">*</sup></a></li>
              </ul>
          </div>
      </div>
      
  </div>
 
</div>

<div id="style-switcher" onclick="toggleSwitcher()">
  <div>
      <h3 class="fw-medium mb-0">Select Your Choice</h3>
      <hr class="hr-dashed my-3">
      <ul class="pattern">
          <li>
              <a class="color1" href="javascript: void(0);" onclick="setColor('default')"></a>
          </li>
          <li>
              <a class="color2" href="javascript: void(0);" onclick="setColor('info')"></a>
          </li>
          <li>
              <a class="color3" href="javascript: void(0);" onclick="setColor('warning')"></a>
          </li>
          <li>
              <a class="color4" href="javascript: void(0);" onclick="setColor('orange')"></a>
          </li>
          <li>
              <a class="color5" href="javascript: void(0);" onclick="setColor('purple')"></a>
          </li>
          <li>
              <a class="color6" href="javascript: void(0);" onclick="setColor('success')"></a>
          </li>
      </ul>
  </div>
  <div class="bottom">
      <a href="javascript: void(0);" class="settings rounded-end"><i class="las la-paint-brush fs-22"></i></a>
  </div>
</div>
