<nav class="navbar navbar-expand-lg fixed-top sticky" id="navbar">
  <div class="container">
      <a (click)="goToUrl('home')" class="navbar-brand cursor">
          <img src="../../assets/images/logo-sm.png" class="logo-sm" alt="" height="24" />
          <img src="../../assets/images/logo-light.png" class="logo-light" alt="" height="16" />
          <img src="../../assets/images/logo-dark.png" class="logo-dark" alt="" height="16" />
      </a>
      <a href="javascript:void(0)" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggle-icon"><i data-feather="menu"></i></span>
      </a>

      <div class="collapse navbar-collapse cursor" id="navbarNav">
          <ul class="navbar-nav mx-auto navbar-center mt-lg-0 mt-2">
              <li class="nav-item">
                  <a class="nav-link active" (click)="goToUrl('home')">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" (click)="goToUrl('about')">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" (click)="goToUrl('services')">Services</a>
              </li>                        
              <li class="nav-item">
                  <a class="nav-link" (click)="goToUrl('resume')">Resume</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" (click)="goToUrl('projects')">Projects</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" (click)="goToUrl('blog-list')">Blogs</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" (click)="goToUrl('contact')">Contact</a>
              </li>
          </ul>
          <a href="#" class="btn btn-sm nav-btn text-primary mb-4 mb-lg-0">Hire Me! <i class="icon-xxs ms-1" data-feather="chevrons-right"></i></a>
      </div>
  </div>
</nav>