/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


.cursor{
    cursor: pointer;
}

.input_form {
    .group_title {
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--primary);
        margin-bottom: 5px;
    }

    ion-row {
        margin: 0px -5px;
    }

    .fieldrow {
        margin-bottom: 15px;
        position: relative;
        width: 100%;

        .fieldrow {
            margin: 0;
        }

        .form_label {
            font-size: 14px;
            font-weight: normal;
            color: var(--primary);
            display: inline-block;
            margin: 0;
        }

        .form_input {
            font-size: 14px;
            font-weight: normal;
            background-color: #f9f9f6;
            color: var(--primary);
            border: solid 1px #efefef;
            padding: 8px 12px;
            width: 100%;
            transition: all 250ms ease-in-out;
            border-radius: 3px;
            font-family: inherit;

            &:focus {
                border-color: var(--primary);
            }
        }

        .dec_text {
            font-size: 14px;
            display: inline-block;
            width: calc(100% - 30px);
            vertical-align: top;

            a {
                display: inline-block;
                margin: 0px 5px;
                color: var(--primary);
            }
        }

        .up_img {
            ul {
                padding-inline-start: 0;
                margin: 0;

                li {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 15px;
                    position: relative;
                    width: 70px;
                    height: 70px;
                    border-radius: 10px;

                    &.up_input {
                        border: dashed 2px #bbb;

                        input {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            font-size: 0;
                            opacity: 0;
                            z-index: 1;
                            cursor: pointer;
                        }

                        .up_button {
                            vertical-align: middle;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 26px;
                            color: var(--primary-medium);
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 10px;
                    }

                    .btn_delete {
                        position: absolute;
                        top: -5px;
                        right: -5px;
                        background-color: var(--primary);
                        color: var(--white);
                        padding: 0;
                        width: 20px;
                        height: 20px;
                        line-height: 24px;
                        font-size: 14px;
                        border-radius: 50%;
                        transition: all 250ms ease-in-out;

                        &:hover {
                            background-color: var(--primary);
                        }
                    }
                }
            }
        }

        &.row_box {
            display: flex;

            .form_label {
                width: 30%;
                padding-top: 11px;
            }
        }

        .country_code {
            position: relative;
            border-radius: 5px;
            overflow: hidden;

            ion-select {
                background-color: var(--blue);
                color: var(--white);
                position: absolute;
                width: 65px;
                padding: 10px;
                height: 100%;
                font-size: 14px;

                &::after {
                    color: var(--white);
                    font-size: 15px;
                    right: 10px;
                }
            }

            .form_input {
                padding-left: 75px;
            }
        }
    }

    ion-checkbox {
        vertical-align: sub;
        margin-right: 8px;
        --border-color: #8b8b8b;
        --border-color-checked: #0da487;
        --background-checked: #0da487;
    }

    ion-radio {
        width: 22px;
        height: 22px;
        vertical-align: text-top;
        margin-right: 8px;

        &::part(container) {
            border-radius: 50%;
            border: 2px solid #8b8b8b;
        }

        &::part(mark) {
            background: none;
            transition: none;
            transform: none;
            border-radius: 0;
        }

        &.radio-checked::part(container) {
            background: #0da487;
            border-color: transparent;
        }

        &.radio-checked::part(mark) {
            width: 10px;
            height: 10px;
            background-color: #fff;
            border-radius: 50%;
        }
    }

    ion-toggle {
        height: 22px;
        width: 40px;
        --handle-width: 18px;
        --handle-height: 18px;
        --handle-max-height: auto;
        --handle-spacing: 4px;
        overflow: visible;
        contain: none;
        padding-inline: 0;
        padding: 0;
        vertical-align: text-top;
        margin-right: 8px;

        &::part(track) {
            background-color: #ddd;
        }

        &.toggle-checked::part(track) {
            background: #0da487;
        }

        &::part(handle) {
            background: #7c7c7c;
            border-radius: 50%;
            box-shadow: none;
        }

        &.toggle-checked::part(handle) {
            background: #fff;
        }
    }
}

@media (max-width: 768px) {
    .input_form {
        .fieldrow {
            &.row_box {
                display: block;
                margin-bottom: 12px;

                .form_label {
                    width: 100%;
                    margin-bottom: 5px;
                    padding: 0;
                }
            }
        }
    }
}
